<div class="navbar-gym">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-gym-brand" do %>
    <h2 style="color: #D23333; font-weight: bold">Gympass</h2>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-gym-right hidden-xs hidden-sm">

    <!-- Search form -->
    <form action="" class="navbar-gym-search">
      <input type="text" class="navbar-gym-search-input" placeholder="Search something">
      <button type="submit" class="navbar-gym-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Notification -->
      <%= link_to "#", class: "navbar-gym-item navbar-gym-link" do %>
        <div class="badge-container">
          <i class="fa fa-envelope-o"></i>
          <div class="badge badge-blue">3</div>
        </div>
      <% end %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-gym-item">
        <div class="dropdown">
          <%= image_tag "http://placehold.it/30x30", class: "avatar dropdown-toggle", id: "navbar-gym-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-gym-dropdown-menu">
            <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-gym-item navbar-gym-link" %>

    <% end %>
    <!-- Button (call-to-action) -->
    <%= link_to t(".top_call_to_action", default: "Post stuff"), "#", class: "navbar-gym-item navbar-gym-button btn" %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-gym-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-gym-dropdown-menu">
        <% if user_signed_in? %>
          <li><%= link_to t(".sign_out", default: "Logout"), destroy_user_session_path, class: "navbar-gym-item navbar-gym-link", method: :delete %></li>
        <% else %>
          <li><%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-gym-item navbar-gym-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

