<div class="col-xs-12">
  <h3><%= gym.name %></h3>
  <p><%= gym.address %></p>
  <br>
  <ul class="list-inline">
    <li>
      <h4>Open Time:</h4>
      <p><%= gym.open_time %>:00h</p>
    </li>
    <li>
      <h4>Close Time:</h4>
      <p><%= gym.close_time %>:00h</p>
    </li>
  </ul>
  <%= link_to "Details", gym_path(gym), target: :blank, class: "btn btn-danger" %>
  <% if current_user %>
    <%= link_to "Get Token", "#", target: :blank, class: "btn btn-danger" %>
  <% end %>
<hr>
</div>
