<div class="map_box">
  <h3><%= gym.name %></h3>
  <p><%= gym.address %></p>
  <br>
  <ul class="list-inline">
    <li>
      <h4>Open Time:</h4>
      <p><%= gym.open_time %>:00h</p>
    </li>
    <li>
      <h4>Close Time:</h4>
      <p><%= gym.close_time %>:00h</p>
    </li>
  </ul>
  <%= link_to "Details", gym_path(gym), class: "btn btn-danger" %>
  <% if current_user %>
    <%= link_to "Get Token", token_path(gym), class: "btn btn-danger" %>
    <br><br>
    <% if !current_user.regular_user? && current_user.check_gym_manager?(gym) %>
      <%= link_to "Destroy Gym", gym_path(gym), method: :delete, class: "btn btn-danger" %>
    <% end %>
  <% end %>
<hr>
</div>
