<br>
<div class="container">
  <% if user_signed_in? %>
    <div class="row">
      <div class="col-xs-6 text-left">
        <%= paginate @gyms %>
        <%= page_entries_info @gyms %>
      </div>
      <div class="col-xs-6 text-right">
        <br><br>
        <% if Gym.all.count > 0 %>
          <%= link_to "Get Daily Token", get_token_path, class: "btn btn-danger" %>
        <% end %>
        <% if current_user.regular_user? %>
          <%= link_to "List of my tokens", reg_user_tokens_path, class: "btn btn-primary" %>
        <% else %>
          <%= link_to "List of tokens per gym", list_gym_tokens_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-xs-12 text-left">
        <%= paginate @gyms %>
        <%= page_entries_info @gyms %>
      </div>
    </div>
  <% end %>
  <br>
  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <% if @address.empty? %>
          <h4>List of Gyms (<%= @gyms_markers.size %> gyms)</h4>
        <% else %>
          <h4>List of Gyms near address: <span style="color: #D23333" ><u><%= @address %></u></span>  (<%= @gyms_markers.size %> gyms)</h4>
        <% end %>
        <hr>
        <% @gyms.each do |gym| %>
          <div class="col-xs-6">
            <%= render 'map_box', gym: gym %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-6">
      <br><br><br>
      <div id="map" style="width: 100%; height: 500px;"></div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
