<br>
<div class="container">
  <% if user_signed_in? %>
    <div class="row">
      <div class="col-xs-12 text-right">
        <%= link_to "Get Daily Token", get_token_path, class: "btn btn-danger" %>
        <% if current_user.regular_user? %>
          <%= link_to "List of my tokens", reg_user_tokens_path, class: "btn btn-primary" %>
        <% else %>
          <%= link_to "List of tokens per gym", list_gym_tokens_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  <% end %>
  <br>
  <div class="row">
    <div class="col-xs-3">
      <div class="row">
        <h4>List of Gyms near you (<%= @gyms.size %> gyms)</h4>
        <hr>
        <% @gyms.each do |gym| %>
          <div class="col-xs-12">
            <%= render 'map_box', gym: gym %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-9">
      <div id="map" style="width: 100%; height: 500px;"></div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
